.footer {
    background-color: var(--primay-grey-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-wrapper {
    display: flex;
    align-items: baseline;
}

.address-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.address-list__link {
    color: var(--address-link-color);
    font-style: normal;
    line-height: 1.71;
}

.address-list__text {
    color: var(--primary-white-color);
    font-style: normal;
}

.address-list__item {
    margin-bottom: 9px;
    &:last-child {
        margin-bottom: 0;
    }
}

.address-wrapper {
    margin-right: 70px;
}

