.footer {
    background-color: var(--primay-grey-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
    padding-top: 60px;
    padding-bottom: 60px;
}

@media screen and (max-width: 767px) {
    .address-wrapper {
        margin-bottom: 60px;
        text-align: center;
    }
}
.address-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.address-list__link {
    color: var(--address-link-color);
    font-style: normal;
    line-height: 1.71;
}

.address-list__text {
    color: var(--primary-white-color);
    font-style: normal;
}

.address-list__item {
    margin-bottom: 8px;
    &:last-child {
        margin-bottom: 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer-wrapper__tablet {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-bottom: 60px;
        padding-left: 76px;
        padding-right: 89px;
    }

    .address-wrapper {
        text-align: center;
    }
}

@media screen and (min-width: 1200px) {
    .footer-wrapper {
        display: flex;
        align-items: baseline;
    }

    .footer-wrapper__tablet {
        display: flex;
        align-items: baseline;
        margin-right: 90px;
    }

    .address-wrapper {
        margin-right: 70px;
    }
}
