.page-header {
    position: relative;
    border-bottom: 1px solid var(--border-color);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
}

.nav-list {
    display: flex;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

.nav-list__item:not(:last-child) {
    margin-right: 50px;
}

.nav-list__link {
    padding: 32px 0;
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: var(--primary-animation-function);
    transition-delay: 0ms;
    &:hover,
    &:focus {
        color: var(--acent-color);
    }
}

.contact-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.contact-list__item:not(:last-child) {
    margin-bottom: 8px;
    @media screen and (min-width:1200px) {
        margin-bottom: 0;
        margin-right: 30px;
    }
}

.contacts-list__link {
    display: flex;
    align-items: center;
    color: var(--primary-text-color);
    fill: var(--primary-text-color);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.02em;
    transition-property: color, fill;
    transition-duration: 250ms;
    transition-timing-function: var(--primary-animation-function);
    transition-delay: 0ms;
    &:hover,
    &:focus {
        color: var(--acent-color);
        fill: var(--acent-color);
    }
    @media screen and (min-width: 1200px) {
        font-size: 14px;
    }
}

.contacts-list__mail-icon {
    margin-right: 8px;
    width: 14px;
    height: 10px;

    @media screen and (min-width: 1200px) {
        margin-right: 10px;
        width: 16px;
        height: 12px;
    }
}

.contacts-list__tel-icon {
    margin-right: 8px;
    width: 10px;
    height: 14px;


    @media screen and (min-width: 1200px) {
        margin-right: 10px;
        width: 10px;
        height: 16px;
    }
}


@media screen and (max-width: 767px) {

    .nav-list {
        display: none;
    }

    .contact-list {
        display: none;
    }

    .btn-menu-burger {
        padding: 0;
        background-color: transparent;
        border: 0;
        line-height: 0;
    }

    .mobile-menu {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        overflow: auto;
        background-color: var(--primary-white-color);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

    }

    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .mobile-menu-container {
        position: relative;
        padding-top: 48px;
        padding-bottom: 48px;
        padding-left: 40px;
    }

    .mobile-menu__close-btn {
        position: absolute;
        top: 10px;
        right: 15px;
        padding: 0;
        background-color: transparent;
        border: 0;
        line-height: 0;
        &:hover,
        &:focus {
            fill: var(--acent-color);
        }
    }

    .mobile-nav-list,
    .mobile-contacts-list,
    .mobile-sociale-list {
        margin: 0;
        padding: 0;
    }

    .mobile-nav-list {
        margin-bottom: 302px;
    }

    .mobile-nav-list__item:not(:last-child) {
        margin-bottom: 32px;
    }

    .mobile-nav-list__link {
        color: var(--title-text-color);
        font-weight: 500;
        font-size: 40px;
        line-height: 1.175;
        letter-spacing: 0.02em;

        &:hover,
        &:focus {
            color: var(--acent-color);
        }
    }

    .mobile-contacts-list {
        margin-bottom: 64px;
    }

    .mobile-contacts-list__item:not(:last-child) {
        margin-bottom: 32px;
    }

    .mobile-contacts-list__link-tel {
        color: var(--acent-color);
        font-weight: 500;
        font-size: 34px;
        line-height: 1.176;
        letter-spacing: 0.02em;
    }

    .mobile-contacts-list__link-mail {
        color: var(--primary-text-color);
        font-weight: 500;
        font-size: 24px;
        line-height: 1.167;
        letter-spacing: 0.02em;
    }

    .mobile-sociale-list {
        display: flex;
    }

    .mobile-sociale-list__item:not(:last-child) {
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }

    .mobile-sociale-list__link {
        color: var(--acent-color);
        font-weight: 500;
        font-size: 18px;
        line-height: 1.222;
        letter-spacing: 0.02em;
    }
}

.current {
    color: var(--acent-color);
    @media screen and (min-width: 768px) {
        position: relative;
        &::after {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            display: block;
            content: "";
            background-color: var(--acent-color);
            border-radius: 2px;
        }
    }
    
}

@media screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }

    .btn-menu-burger {
        display: none;
    }
}

// .page-header {
//     border-bottom: 1px solid var(--border-color);
// }

// .wrapper {
//     display: flex;
// }

// .nav {
//     display: flex;
// }

// .nav-list {
//     display: flex;
//     align-items: center;
//     margin-top: 0;
//     margin-bottom: 0;
//     padding-left: 0;
// }

// .nav-list__item {
//     margin-right: 50px;
//     &:last-child {
//         margin-right: 0;
//     }
// }

// .nav-list__link {
//     display: block;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     color: var(--title-text-color);
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     transition-property: color;
//     transition-duration: 250ms;
//     transition-timing-function: var(--primary-animation-function);
//     transition-delay: 0ms;
//     &:hover,
//     &:focus {
//         color: var(--acent-color);
//     }
// }

// .current {
//     color: var(--acent-color);
//     position: relative;
//     &::after {
//         position: absolute;
//         left: 0;
//         bottom: 0;
//         width: 100%;
//         height: 4px;
//         display: block;
//         content: "";
//         background-color: var(--acent-color);
//         border-radius: 2px;
//     }
// }

// .contacts {
//     display: flex;
//     align-items: center;
//     margin-left: auto;

// }

// .contacts__link {
//     display: flex;
//     align-items: center;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     margin-right: 50px;
//     color: var(--primary-text-color);
//     fill: var(--primary-text-color);
//     font-weight: 500;
//     font-size: 14px;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     transition-property: color, fill;
//     transition-duration: 250ms;
//     transition-timing-function: var(--primary-animation-function);
//     transition-delay: 0ms;
//     &:last-child {
//         margin-right: 0;
//     }
//     &:hover,
//     &:focus {
//         color: var(--acent-color);
//         fill: var(--acent-color);
//     }
// }

// .contacts__icon {
//     margin-right: 10px;
// }