.jobs {
    padding-top: 0;
}

.jobs-list {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.jobs-list__item {
    position: relative;
}

.jobs-list__title {
    margin-top: 0;
    margin-bottom: 0;
    color: var(--primary-white-color);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

}

.jobs-list__wrapper {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 48, 58, 0.8);
}