.backdrop {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: var(--primary-animation-function);

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        .modal {
            transform: translate(-50%, -50%) scale(0.5);
        }
    }
}
