.contact-form__input-wrapper {
    position: relative;
    display: block;
    margin-top: 4px;

}

.contact-form__label {
    display: block;
    margin-bottom: 10px;
}

.contact-form__input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid var(--border-modal-color);
    border-radius: 4px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: var(--primary-animation-function);
    &:focus {
        outline: none;
        border-color: var(--acent-color);
    }
    &:hover {
        cursor: pointer;
    }
}

.contact-form__icon {
    position: absolute;
    left: 12px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: var(--primary-animation-function);

    .contact-form__input:focus + & {
        fill: var(--acent-color);
    }
}

.contact-form__text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color);
}

.contact-form__messag {
    margin-top: 4px;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid var(--border-modal-color);
    border-radius: 4px;
    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: var(--primary-animation-function);
    &:focus {
        outline: none;
        border-color: var(--acent-color);

    }
    &:hover {
        cursor: pointer;
    }
    &::placeholder {
        color: var(--placeholder-color);
    }
}

.checkbox-wraper {
    margin-bottom: 30px;
}

.contact-form__checkbox-link {
    color: var(--acent-color);
    text-decoration: underline;
}

.contact-form__checkbox-label {
    display: flex;
    align-items: center;
    line-height: 1.71;
    color: var(--primary-text-color);
    &::before {
        content: "";
        display: inline-block;
        width: 16px;
        height: 15px;
        margin-right: 7px;
        border: 1px solid var(--title-text-color);
        border-radius: 2px;
        cursor: pointer;
        transition-property: border;
        transition-duration: 250ms;
        transition-timing-function: var(--primary-animation-function);

        .contact-form__checbox:focus + & {
                border: 1px solid var(--acent-color);
            }
        .contact-form__checbox:checked + & {
            background-image: url(../images/iconcheck.svg);
            background-color: var(--acent-color);
            border: none;
        }
    }
}
