body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

