:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --acent-color: #2196F3;
    --primary-white-color: #ffffff;
    --primay-grey-color: #2F303A;
    --address-link-color: rgba(255, 255, 255, 0.6);
    --examples-button-color: #F5F4FA;
    --border-color: #eeeeee;
    --border-modal-color: rgba(33, 33, 33, 0.2);
    --primary-icon-color: #AFB1B8;
    --footer-fon-social-link: rgba(255, 255, 255, 0.1);
    --primary-animation-function: cubic-bezier(0.4, 0, 0.2, 1);
    --placeholder-color: rgba(117, 117, 117, 0.5);
}